<p>سلام {{coachName}},</p>
<p>یک کاربر جدید با نام <strong>{{bookedByName}}</strong> یک زمان مشاوره برای {{date}} ساعت {{clock}} رزرو کرده است.</p>
<p>اطلاعات تماس:</p>
<ul>
  <li>ایمیل: {{email}}</li>
  <li>تلفن: {{phone}}</li>
</ul>
